* {

    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {

    display: flex;
    justify-content: center;
    height: 100vh;
}

main {

    

    width: 1200px;
    height: 100vh;
    background-color: antiquewhite;
}

header {
    background-color:brown;
    color:azure;
    text-align: center;
}

.table {
    display: grid;
    justify-content: center;
    grid-template: auto auto auto auto auto / auto auto auto auto auto;
    gap: 10px;
    margin: 10px 0;
    
}

.sortiados {

    margin: 20px;
}

.animal {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between ;
    
    padding: 5px;
    box-sizing: border-box;
    width: 175px;
    height: 130px;
    background-color: azure;
    border: 2px solid;

    transition: all .4s;
}

.numero {

    align-self: start;
    color: brown;
    margin-left: 3px;
    transition: all .4s;
}

.numero:hover {

    transform: scale(1.4);
}

.nome {
    font-family: serif;
    font-size: 25pt;
    transition: all .4s;
}

.nome:hover {

    transform: scale(1.2);
}

.sortiados h2 {
    display: flex;
    height: 50px;
    width: 30%;
    justify-content: space-between;
}

button {

    background: brown;
    color: white;

    border: none;
    box-sizing: border-box;
    border-radius: 3px;

    height: 40px;  
    width: 90px;

    font: bold 15pt arial, Arial;
    transition: all .4s;
}


.sortiados div {

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: black solid 2px;
    border-radius: 3px;
    
    height: 40px;  
    width: 125px;
    box-sizing: border-box;

    font: bold 20pt arial, Arial;
    font-family:'Times New Roman', Times, serif;
}