* {

    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {

    display: flex;
    justify-content: center;
    height: 100vh;
}

main {

    

    width: 1200px;
    height: 100vh;
    background-color: antiquewhite;
}

.table {
    display: grid;
    justify-content: center;
    grid-template: auto auto auto auto auto / auto auto auto auto auto;
    gap: 10px;
    margin: 10px 0;
    
}

.animal {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between ;
    
    padding: 5px;
    box-sizing: border-box;
    width: 160px;
    height: 120px;
    background-color: azure;
    border: 2px solid;

    transition: all .4s;
}

.numero {
    align-self: start;
    color: brown;
}

.nome {
    font-family: serif;
    font-size: 26.5pt;
}

.animal:hover {

    transform: scale(1.05);
    background-color: #f0f4f7;
}